
body {
  background-image: url('bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.header
{
width:100%;height:13vw;background-color:blu;margin-left: 4vw
}
.main
{width:100%;height:21vw;background-color:gre;font-family:albertus;color:white;padding-top:1.5vw;padding-left:2vw;font-size:12vw;margin-left: 4vw
}
.footer
{
width:100%;height:20vw;background-color:blac
}
.headerstrip
{
width:100%;height:3vw;background-color:aliceblu;position: relative;margin-top:4.3vw;float: inline-start;font-size:1.2vw;font-family:albertus;color:white;padding-top:1.5vw;padding-bottom:0vw;padding-left:2vw;
}
.table
{
	padding: 0px;
	margin-left: 5vw;
	
	font-family:albertus;color:gray;font-size:01vw;
}
td
{
	padding:0.5vw
}
p
{
	color: white
}
@media screen and (max-width: 800px)
 {
  .header,.footer
	 {
    	width: 100%; 
	height:40vw;/* The width is 100%, when the viewport is 800px or smaller */
  	}	
   .main
	{height:40vw;
	}
 .headerstrip
	{
	width:100%;height:12vw;position: relative;margin-top:12vw;float: inline-start;font-size:3vw;
	}

.table
{
	padding: 0px;
	margin-left: 5vw;
	
	font-family:albertus;color:gray;font-size:03vw;
}

	
